/* General / 'base.html' style */

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: ghostwhite;
}

body {
    height: 100vh;
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);   
}

nav {
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: #f3b05a;
    position: relative;
}

nav a {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 1rem;
    top: 15px;
}

nav img {
    height: 25px;
    width: 25px;
}

nav h1 {
    margin-inline: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

nav h1 span {
    margin-left: .25rem;
}

.dynamic-content-cotainer {
   height: calc(100vh - 135px);
   padding: 16px;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.warning-span {
    color: red;
    margin-bottom: 1rem;
    font-size: 12px;
    text-align: center;
}

/* Login style */

.login-form {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    width: 80%;
    height: 1.5rem;
    margin-bottom: 1rem;
    padding-inline: 1rem;
    border: none;
    color: ghostwhite;
    border-bottom: 1px solid ghostwhite;
    background-color: transparent;
    text-align: center;
}

.login-form input:focus {
    outline: none;
}

.login-form button {
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    color: #f3b05a;
    border: 1px solid #f3b05a;
    font-weight: bold;
    background-color: transparent;
    transition: .5s;
}

.login-form button:hover {
    cursor: pointer;
    background-color: #f3b05a;
    color: white;
    letter-spacing: 2.5px;
}

.redirect-to-register-span {
    margin-top: 1rem;
    font-size: 12px;
    text-align: center;
}

.redirect-to-chatroom-span {
    font-size: 12px;
    text-align: center;
}

/* Register style */

.register-form {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form input {
    width: 80%;
    height: 1.5rem;
    margin-bottom: 1rem;
    padding-inline: 1rem;
    border: none;
    color: ghostwhite;
    border-bottom: 1px solid ghostwhite;
    background-color: transparent;
    text-align: center;
}

.register-form input:focus {
    outline: none;
}

.register-form button {
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    color: #f3b05a;
    border: 1px solid #f3b05a;
    font-weight: bold;
    background-color: transparent;
    transition: .5s;
}

.register-form button:hover {
    cursor: pointer;
    background-color: #f3b05a;
    color: white;
    letter-spacing: 2.5px;
}

.redirect-to-login-span-v1 {
    margin-top: 1rem;
    font-size: 12px;
    text-align: center;
}

/* Chatroom style */

.messages-container {
    height: calc(100vh - 288px);
    margin-bottom: 16px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow-y: scroll;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 0;
}

.search-bar {
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    text-align: center;
    border: none;
    background: rgba(0,0,0,0.5);
}

.message-container {
    margin-bottom: 1rem;
    word-break: break-word;
    background-color:rgba(0,0,0,0.075);
    padding: .75rem;
    border-radius: 10px;
}

.first-check {
    color: lightgreen;
}

.second-check {
    color: lightgreen;
    margin-left: -12.5px;
}

.date-span {
    font-size: 8px;
}

.message-form {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-form input {
    width: 95%;
    height: 1.5rem;
    margin-bottom: 1rem;
    padding-inline: 1rem;
    border: none;
    color: ghostwhite;
    border-bottom: 1px solid ghostwhite;
    background-color: transparent;
    text-align: center;
}

.message-form input:focus {
    outline: none;
}

.message-form button {
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    color: #f3b05a;
    border: 1px solid #f3b05a;
    font-weight: bold;
    background-color: transparent;
    transition: .5s;
}

.message-form button:hover {
    cursor: pointer;
    background-color: #f3b05a;
    color: white;
    letter-spacing: 2.5px;
}

/* Logout style */

.redirect-to-login-span-v2 {
    font-size: 12px;
    text-align: center;
}

/* For smartphones */

@media ( max-width: 520px ) {
    .smartphone-dnone {
        display: none;
    }

    nav h1 {
        font-size: 16px;
    }

    .message-container {
        font-size: 11px;
    }

    .message-form input {
        width: 85%;
    }
}